@media screen and (min-width: 1200px) {
  #profiles_show .cc-favourites .c-column {
    width: -webkit-calc(100% / 6 - 0.1 * 0.1em - 1 * 1.1%);
    width: calc(100% / 6 - 0.1 * 0.1em - 1 * 1.1%);
  }
  #profiles_show .cc-favourites .image-cutter {
    height: 1px;
    padding-bottom: 59%;
  }
  /*------------------*/

  .b-catalog_entry-tooltip::after {
    visibility: hidden;
  }
  .b-catalog_entry-tooltip > a {
    display: block;
    width: 10rem;
    height: 0;
  }
  .b-catalog_entry-tooltip > a::after {
    content: "";
    display: block;
    padding-bottom: 155%;
    border-radius: 0.125rem;
  }
  [class*="b-catalog_entry"] > a[href*="116275-albedo"] img,
  [class*="b-catalog_entry"] > a[href*="422-guts"] img,
  [class*="b-catalog_entry"] > a[href*="119321-momo-"] img,
  [class*="b-catalog_entry"] > a[href*="35252-rintarou-"] img,
  [class*="b-catalog_entry"] > a[href*="50389-rias-"] img,
  [class*="b-catalog_entry"] > a[href*="2257-simon"] img,
  [class*="b-catalog_entry"] > a[href*="67067-"] img,
  [class*="b-catalog_entry"] > a[href*="458-revy"] img,
  [class*="b-catalog_entry"] > a[href*="94-asuka-"] img,
  [class*="b-catalog_entry"] > a[href*="43280-inori-"] img,
  [class*="b-catalog_entry"] > a[href*="624-seras-"] img,
  [class*="b-catalog_entry"] > a[href*="137825-tanya-"] img,
  [class*="b-catalog_entry"] > a[href*="88577-fremy-"] img,
  [class*="b-catalog_entry"] > a[href*="4963-yuno-"] img,
  [class*="b-catalog_entry"] > a[href*="80-light-"] img,
  [class*="b-catalog_entry"] > a[href*="119413-yumeko-"] img {
    opacity: 0;
  }
  .b-catalog_entry a[href*="116275-albedo"] .image-cutter,
  .b-catalog_entry-tooltip > a[href*="116275-albedo"]::after {
    background: url("//moe.shikimori.one/system/user_images/original/208335/1170532.jpg") no-repeat 38% 20% / 200%;
  }
  .b-catalog_entry a[href*="422-guts"] .image-cutter,
  .b-catalog_entry-tooltip > a[href*="422-guts"]::after {
    background: url("//dere.shikimori.one/system/user_images/original/208335/1170589.jpg") no-repeat 50% 50% / cover;
  }
  .b-catalog_entry a[href*="119321-momo-"] .image-cutter,
  .b-catalog_entry-tooltip > a[href*="119321-momo-"]::after {
    background: url("//nyaa.shikimori.one/system/user_images/original/208335/1170590.jpg") no-repeat 50% 15% / cover;
  }
  .b-catalog_entry a[href*="35252-rintarou-"] .image-cutter,
  .b-catalog_entry-tooltip > a[href*="35252-rintarou-"]::after {
    background: url("//kawai.shikimori.one/system/user_images/original/208335/1170591.jpg") no-repeat 50% 15% / 150%;
  }
  .b-catalog_entry a[href*="50389-rias-"] .image-cutter,
  .b-catalog_entry-tooltip > a[href*="50389-rias-"]::after {
    background: url("//nyaa.shikimori.one/system/user_images/original/208335/1170620.jpg") no-repeat 5% 20% / 200%;
  }
  .b-catalog_entry a[href*="2257-simon"] .image-cutter,
  .b-catalog_entry-tooltip > a[href*="2257-simon"]::after {
    background: url("//desu.shikimori.one/system/user_images/original/208335/1170628.jpg") no-repeat 0% 55% / 120%;
  }
  .b-catalog_entry a[href*="67067-yukino-"] .image-cutter,
  .b-catalog_entry-tooltip > a[href*="67067-yukino-"]::after {
    background: url("//desu.shikimori.one/system/user_images/original/208335/1060633.jpg") no-repeat 30% 12% / 180%;
  }
  .b-catalog_entry a[href*="458-revy"] .image-cutter,
  .b-catalog_entry-tooltip > a[href*="458-revy"]::after {
    background: url("//kawai.shikimori.one/system/user_images/original/208335/1170731.jpg") no-repeat 50% 50% / 115%;
  }
  .b-catalog_entry a[href*="94-asuka-"] .image-cutter,
  .b-catalog_entry-tooltip > a[href*="94-asuka-"]::after {
    background: url("//dere.shikimori.one/system/user_images/original/208335/1159614.jpg") no-repeat 74% 5% / 150%;
  }
  .b-catalog_entry a[href*="43280-inori-"] .image-cutter,
  .b-catalog_entry-tooltip > a[href*="43280-inori-"]::after {
    background: url("//dere.shikimori.one/system/user_images/original/208335/1170784.jpg") no-repeat 0% 15% / 150%;
  }
  .b-catalog_entry a[href*="624-seras-"] .image-cutter,
  .b-catalog_entry-tooltip > a[href*="624-seras-"]::after {
    background: url("//dere.shikimori.one/system/user_images/original/208335/1170899.jpg") no-repeat 48% 20% / 130%;
  }
  .b-catalog_entry a[href*="137825-tanya-"] .image-cutter,
  .b-catalog_entry-tooltip > a[href*="137825-tanya-"]::after {
    background: url("//desu.shikimori.one/system/user_images/original/208335/1170843.jpg") no-repeat 50% 50% / 106%;
  }
  .b-catalog_entry a[href*="88577-fremy-"] .image-cutter,
  .b-catalog_entry-tooltip > a[href*="88577-fremy-"]::after {
    background: url("//desu.shikimori.one/system/user_images/original/208335/1170888.jpg") no-repeat 68% 20% / 355%;
  }
  .b-catalog_entry a[href*="4963-yuno-"] .image-cutter,
  .b-catalog_entry-tooltip > a[href*="4963-yuno-"]::after {
    background: url("//kawai.shikimori.one/system/user_images/original/208335/1060486.jpg") no-repeat 50% 50% / 140%;
  }
  .b-catalog_entry a[href*="80-light-"] .image-cutter,
  .b-catalog_entry-tooltip > a[href*="80-light-"]::after {
    background: url("//i9.wampi.ru/2019/11/29/tudjo1_400.gif") no-repeat 50% 50% / 120%;
  }
  .b-catalog_entry a[href*="119413-yumeko-"] .image-cutter,
  .b-catalog_entry-tooltip > a[href*="119413-yumeko-"]::after {
    background: url("//i8.wampi.ru/2019/11/29/tum6o1_500.gif") no-repeat 50% 50% / 106%;
  }
}
