 /* Табы */
.tabs { position: relative; background: none; margin: .2rem .2rem .4375rem;
  border-radius: .375rem; line-height: 1.4;  font-size: 14px; overflow: hidden;
  box-shadow: 0 2px 6px 2px rgb(0 0 0 / 20%);}

/* Контейнер Кнопок */
.tabs .header { background: rgba(var(--block-color), 0.6); display: flex;
  flex-wrap: nowrap; line-height: .625rem; padding: 0 .625rem;  user-select: none;
  overflow-x: auto; overflow-y: hidden; text-shadow: 0 1px 2px #000000;}

/* Кнопка в обычном состоянии */
.tabs .header div { color: rgba(var(--dark-color), var(--hundred)); cursor: pointer;
  position: relative; flex-grow: 1; flex-shrink: 0;  padding: .625rem .375rem;
  margin: 0 4px; overflow: hidden; text-align: center; min-width: 64px;
  transition: color .15s, flex-grow .05s, font-size .0s;}

/* Активированная Кнопка */
.tabs .header div.active { color: rgba(var(--dark-color), var(--hundred)); 
  flex-grow: 1.5; background: rgb(12 24 38 / 55%); border-radius: 5rem;cursor: default;}

/* Невидимая нижняя линия Кнопки */
.tabs .header div:before { position: absolute; display: block; content: '';
  bottom: 0; left: 0; width: 100%; border-bottom: 0 solid transparent;}

/* Цвет нижней линии Кнопки при наведении */
.tabs .header div:hover:before { border-color: transparent;}
/* Цвет нижней линии активированной Кнопки */
.tabs .header div.active:before { border-color: transparent;}

/* Появляющаяся «рябь» после активации Кнопки */ /* Цвет фона */
.tabs .header div:after { position: absolute; display: block; content: '';
  width: 60%; top: 50%; left: 50%; transform: translate(-50%, -50%);
  padding-top: 60%; opacity: 0; background: rgb(12 24 38 / 65%);
  border-radius: 50%; pointer-events: none;}

/* Анимация ряби */
@keyframes ripple-unbound { 0% {opacity: 0;} 30% {opacity: .32;} 100% {opacity: 0; padding-top: 200%; width: 200%;}}
  
/* Активация ряби */
.tabs .header div.active:after { animation: ripple-unbound .25s cubic-bezier(.4, 0, 1, 1);}

/* Контейнер Содержимого */ /* Цвет и размер линии разделяющая Кнопки и Содержимое */
.tabs .container { border-top: 0 solid #1a153f; min-height: 50px; padding: 10px 10px;}  /* Внутренние отступы */ 

/* Содержимое */
.tabs .container > div { display: block!important; position: relative; width: 0; height: 0;  opacity: 0;
  overflow: hidden; visibility: hidden; transition: opacity .02s, visibility .02s; transition-delay: 0s, 0s;}

.tabs .container > div:not(.hidden) { display: none; height: auto; overflow: initial; visibility: visible;
  width: auto; opacity: 1; transition: opacity .02s, visibility .02s; transition-delay: .02s, .02s;}

.tabs .b-image img { max-width: none !important;}
/* Фикс для постеров */
/*.tabs .b-catalog_entry .cover .image-decor .image-cutter { max-height: none !important;}*/