.Person-0 a[href*="/118765-"] .image-cutter::after {
    background: url("//nyaa.shikimori.one/system/user_images/original/208335/1159555.jpg") 55% 40% / 480%;
}
.Person-0 a[href*="/118763-"] .image-cutter::after {
    background: url("//nyaa.shikimori.one/system/user_images/original/208335/1159555.jpg") 82% 37% / 480%;
}
.Person-0 a[href*="/34470-"] .image-cutter::after {
    background: url(//moe.shikimori.one/system/user_images/original/208335/692457.jpg) 50% 50% / 105%;
}
.Person-0 a[href*="/43280-"] .image-cutter::after {
    background: url(//moe.shikimori.one/system/user_images/original/208335/706877.jpg) 56% 12% / 280%;
}
.Person-0 a[href*="/82525-"] .image-cutter::after {
    background: url(//nyaa.shikimori.one/system/user_images/original/208335/1159565.jpg) 55% 15% / 300%;
}
.Person-0 a[href*="/87277-"] .image-cutter::after {
    background: url(//nyaa.shikimori.one/system/user_images/original/208335/1060440.jpg) 100% 0 / cover;
}
.Person-0 a[href*="/67067-"] .image-cutter::after {
    background: url(//desu.shikimori.one/system/user_images/original/208335/1060633.jpg) 36% 10% / 260%;
}
.Person-0 a[href*="/136-"] .image-cutter::after {
    background: url(//kawai.shikimori.one/system/user_images/original/208335/1159621.jpg) 24% 8% / 250%;
}
.Person-0 a[href*="/69133-"] .image-cutter::after {
    background: url(//desu.shikimori.one/system/user_images/original/208335/706868.jpg) 18% center / cover;
}
.Person-0 a[href*="/50389-"] .image-cutter::after {
    background: url(//kawai.shikimori.one/system/user_images/original/208335/1061391.jpg) 85% 65% / 225%;
}
.Person-0 a[href*="/30273-"] .image-cutter::after {
    background: url(//nyaa.shikimori.one/system/user_images/original/208335/1060490.jpg) 20% 15% / 280%;
}
.Person-0 a[href*="/4963-"] .image-cutter::after {
    background: url(//kawai.shikimori.one/system/user_images/original/208335/1060486.jpg) 47.5% 15% / cover;
}
.Person-0 a[href*="/94-"] .image-cutter::after {
    background: url(//dere.shikimori.one/system/user_images/original/208335/1159614.jpg) 62% 12% / 400%;
}
.Person-0 a[href*="/160603-"] .image-cutter::after {
    background: url(//desu.shikimori.one/system/user_images/original/208335/1061168.jpg) 3% 24% / 270%;
}
.Person-0 a[href*="/161472-"] .image-cutter::after {
    background: url(//dere.shikimori.one/system/user_images/original/208335/1061169.jpg) 90% 50% / 206%;
}
.Person-0 a[href*="/61371-"] .image-cutter::after {
    background: url(//desu.shikimori.one/system/user_images/original/208335/706883.jpg) 5% 5% / 150%;
}
.Person-0 a[href*="/7373-"] .image-cutter::after {
    background: url(//kawai.shikimori.one/system/user_images/original/208335/848181.jpg) 12% 24% / 200%;
}
.Person-0 a[href*="/67069-"] .image-cutter::after {
    background: url(//desu.shikimori.one/system/user_images/original/208335/1060588.jpg) 66.4% 6% / 500%;
}
.Person-0 a[href*="/40450-"] .image-cutter::after {
    background: url(//desu.shikimori.one/system/user_images/original/208335/1165203.jpg) 90% 40% / 350%;
}
.Person-0 a[href*="/88577-"] .image-cutter::after {
    background: url(//moe.shikimori.one/system/user_images/original/208335/609657.jpg) center 25% / cover;
}
.Person-0 a[href*="/119413-"] .image-cutter::after {
    background: url(https://i8.wampi.ru/2019/11/29/tum6o1_500.gif) center / cover;
}
.Person-0 a[href*="/23602-"] .image-cutter::after {
    background: url(//kawai.shikimori.one/system/user_images/original/208335/688181.jpg) 50% 50% / 105%;
}
.Person-0 a[href*="/12064-"] .image-cutter::after {
    background: url("//kawai.shikimori.one/system/user_images/original/208335/1159636.jpg") 47% 82%/ 700%;
}
.Person-0 a[href*="/13701-"] .image-cutter::after {
    background: url(//kawai.shikimori.one/system/user_images/original/208335/1060481.jpg) 10% 20% / 250%;
}
.Person-0 a[href*="/43282-"] .image-cutter::after {
    background: url(//kawai.shikimori.one/system/user_images/original/208335/848156.jpg) 55% 10% / 105%;
}
.Person-0 a[href*="/144487-"] .image-cutter::after {
    background: url(//desu.shikimori.one/system/user_images/original/208335/848158.jpg) center 50% / cover;
}
.Person-0 a[href*="/117225-"] .image-cutter::after {
    background: url(//moe.shikimori.one/system/user_images/original/208335/688047.jpg) center 10% / cover;
}
.Person-0 a[href*="/89339-"] .image-cutter::after {
    background: url(//nyaa.shikimori.one/system/user_images/original/208335/688075.jpg) 55% 0 / 250%;
}
.Person-0 a[href*="/40881-"] .image-cutter::after {
    background: url(//nyaa.shikimori.one/system/user_images/original/208335/1060445.jpg) 15% 45% / 350%;
}
.Person-0 a[href*="/118739-"] .image-cutter::after {
    background: url("//nyaa.shikimori.one/system/user_images/original/208335/1159760.jpg") 50% 25% / 170%;
}
.Person-0 a[href*="/99661-"] .image-cutter::after {
    background: url(//nyaa.shikimori.one/system/user_images/original/208335/1059790.jpg) 35% 15% / cover;
}
.Person-0 a[href*="/9719-"] .image-cutter::after {
    background: url(//moe.shikimori.one/system/user_images/original/208335/1060487.jpg) 50% 50% / 137%;
}
.Person-0 a[href*="/166026-"] .image-cutter::after {
    background: url(//dere.shikimori.one/system/user_images/original/208335/848179.jpg) 60% 7.7% / cover;
}
.Person-0 a[href*="/119321-"] .image-cutter::after {
    background: url(//moe.shikimori.one/system/user_images/original/208335/1059787.jpg) 15% 15% / 120%;
}
.Person-0 a[href*="/22037-"] .image-cutter::after {
    background: url(//desu.shikimori.one/system/user_images/original/208335/1060503.jpg) 64% 50% / 254%;
}
.Person-0 a[href*="/161954-"] .image-cutter::after {
    background: url(//nyaa.shikimori.one/system/user_images/original/208335/900770.jpg) 15% 10% / 300%;
}
.Person-0 a[href*="/69411-"] .image-cutter::after {
    background: url(//nyaa.shikimori.one/system/user_images/original/208335/1060435.jpg) 25% 50% / 237%;
}
.Person-0 a[href*="/41374-"] .image-cutter::after {
    background: url(//dere.shikimori.one/system/user_images/original/208335/1159679.jpg) 50% 12% / 165%;
}
.Person-0 a[href*="/75284-"] .image-cutter::after {
    background: url(//nyaa.shikimori.one/system/user_images/original/208335/1159685.jpg) 90% 50% / 128%;
}
.Person-0 a[href*="/13390-"] .image-cutter::after {
    background: url(//desu.shikimori.one/system/user_images/original/208335/1159688.jpg) 73% 15% / 200%;
}
.Person-0 a[href*="/55133-"] .image-cutter::after {
    background: url(//nyaa.shikimori.one/system/user_images/original/208335/1159690.jpg) 73% 25% / 200%;
}
.Person-0 a[href*="/6043-"] .image-cutter::after {
    background: url(//kawai.shikimori.one/system/user_images/original/208335/1159691.jpg) 47% 6% / 300%;
}
.Person-0 a[href*="/z37698-"] .image-cutter::after {
    background: url(//desu.shikimori.one/system/user_images/original/208335/1159693.jpg) 30% 50% / 160%;
}
.Person-0 a[href*="/31418-"] .image-cutter::after {
    background: url(//dere.shikimori.one/system/user_images/original/208335/1159694.jpg) 67% 35% / 260%;
}
.Person-0 a[href*="/z52723-"] .image-cutter::after {
    background: url(//nyaa.shikimori.one/system/user_images/original/208335/1159695.jpg) 50% 25% / 180%;
}
.Person-0 a[href*="/20476-"] .image-cutter::after {
    background: url(//moe.shikimori.one/system/user_images/original/208335/1159697.jpg) 47% 25% / 200%;
}
.Person-0 a[href*="/5190-"] .image-cutter::after {
    background: url(//desu.shikimori.one/system/user_images/original/208335/1159703.jpg) 25% 25% / 250%;
}
.Person-0 a[href*="/48993-"] .image-cutter::after {
    background: url(//kawai.shikimori.one/system/user_images/original/208335/1159711.jpg) 45% 15% / 250%;
}
.Person-0 a[href*="/143196-"] .image-cutter::after {
    background: url(//moe.shikimori.one/system/user_images/original/208335/1159727.jpg) 90% 5% / 126%;
}
