@media screen and (min-width: 768px) {
    #profiles_show .Blok-2 {
        display: block;
        padding: 1% 0 5% 0;
    }
    #profiles_show .Person-1 {
        position: relative;
        max-height: 1px;
        padding-bottom: 8.6%;
    }
    body#profiles_show .Person-1 .b-catalog_entry {
        box-shadow: none;
        transition: none;
        transform: none;
    }
    #profiles_show .Person-1 .b-catalog_entry .cover .image-cutter img {
        position: absolute;
        z-index: -1;
        transition: none;
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    #profiles_show .Person-1 .c-column {
        display: inline-block;
        margin: 0 !important;
        float: none !important;
        clear: none !important;
        padding: 0;
        max-width: none;
        background: none;
        width: calc(100% / 9) !important;
    }
    #profiles_show .Person-1 .b-catalog_entry .cover .image-decor .image-cutter {
        max-height: 1px !important;
        padding-bottom: 100%;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        background: linear-gradient(rgba(255, 0, 0, 0.33) 0%, rgba(0, 163, 245, 0.3) 100%);
        margin: 0 1.45%;
    }
    #profiles_show .Person-1 .c-column:hover .image-decor .image-cutter {
        box-shadow: none;
    }
    #profiles_show .Person-1 .b-catalog_entry .cover .title.two_lined {
        position: absolute;
        display: grid;
        align-items: center;
        text-align: center;
        justify-content: center;
        white-space: normal;
        pointer-events: none;
        margin: 0 auto;
        padding: 0 1rem;
        bottom: 1.55rem;
        right: 0;
        left: 0;
        max-width: 90px;
        height: 17px;
        font-size: 11.5px;
        text-shadow: 1px 0 2px rgba(0, 0, 0, 0.8), -1px 0 2px rgba(0, 0, 0, 0.8), 0 1px 2px rgba(0, 0, 0, 0.8), 0 -1px 2px rgba(0, 0, 0, 0.8);
        z-index: 10;
        opacity: 1;
        line-height: 1.6;
        transition: opacity 0.28s ease;
        -webkit-transition: opacity 0.28s ease;
    }
    #profiles_show .Person-1 .c-column:hover > .cover .title {
        opacity: 0;
    }
    #profiles_show .Person-1:nth-child(2) .c-column {
        left: calc(15% - 9.39%);
    }
    #profiles_show .Person-1:nth-child(3) .c-column {
        left: calc(15% - 3.8%);
    }
    #profiles_show .Person-1:nth-child(4) .c-column {
        left: calc(25% - 8.21%);
    }
    #profiles_show .Person-1:nth-child(5) .c-column {
        left: calc(35% - 1.49%);
    }
    #profiles_show .Person-1 .b-catalog_entry a .image-cutter::after {
        position: absolute;
        content: "";
        display: flex;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 10;
        width: calc(100% - 5px);
        height: calc(100% - 5px);
        border-radius: 0;
        background-repeat: no-repeat !important;
        pointer-events: none;
        image-rendering: auto;
        box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.8);
        transition: box-shadow 0.45s ease;
        -webkit-transition: box-shadow 0.45s ease;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }
    #profiles_show .Person-1 .b-catalog_entry:hover > a .image-cutter::after {
        box-shadow: none;
    }
}

@media screen and (max-width: 1450px) {
    #profiles_show .Person-1 .b-catalog_entry .cover .title.two_lined {
        display: none;
    }
}
