@media screen and (min-width: 768px) {
    #profiles_show .Blok-1 {
        display: block;
        padding: 1% 0 0 0;
        white-space: nowrap;
        overflow-y: hidden;
    }
    #profiles_show .Person-0 {
        position: relative;
    }
    body#profiles_show .Person-0 .b-catalog_entry {
        box-shadow: none;
        transition: none;
        transform: none;
    }
    #profiles_show .Person-0 .b-catalog_entry .cover .image-cutter img {
        position: absolute;
        z-index: -1;
        transition: none;
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    #profiles_show .Person-0 .c-column {
        display: inline-block;
        margin: 0 !important;
        float: none !important;
        clear: none !important;
        padding: 0;
        max-width: none;
        background: none;
        width: calc(100% / 3) !important;
    }
    #profiles_show .Person-0 .b-catalog_entry .cover .image-decor .image-cutter {
        max-height: 24px !important;
        max-width: 100% !important;
        padding: 0 0 52% 0;
        margin: 0 3.035px;
        background: linear-gradient(transparent 0%, rgba(25, 28, 29, 0.45) 100%);
        box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.15);   
        border-radius: 0.5rem;
    }
    #profiles_show .Person-0 .b-catalog_entry .cover .title.two_lined {
        position: absolute;
        display: grid;
        align-items: center;
        text-align: center;
        justify-content: center;
        white-space: normal;
        pointer-events: none;
        margin: 0 auto;
        padding: 0 1rem;
        bottom: 1rem;
        right: 0;
        left: 0;
        max-width: 90px;
        height: 17px;
        font-size: 11.5px;
        text-shadow: 1px 0 2px rgba(0, 0, 0, 0.8), -1px 0 2px rgba(0, 0, 0, 0.8), 0 1px 2px rgba(0, 0, 0, 0.8), 0 -1px 2px rgba(0, 0, 0, 0.8);
        z-index: 10;
        opacity: 1;
        line-height: 1.6;
        transition: opacity 0.28s ease;
        -webkit-transition: opacity 0.28s ease;
    }
    #profiles_show .Person-0 .c-column:hover > .cover .title {
        opacity: 0;
    }
    #profiles_show .Person-0 .b-catalog_entry a .image-cutter::after {
        position: absolute;
        content: "";
        display: flex;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 10;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        border-radius: 0.4rem;
        pointer-events: none;
        image-rendering: auto;
        background-repeat: no-repeat !important;
        box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.8);
        transition: box-shadow 0.45s ease;
        -webkit-transition: box-shadow 0.45s ease;
    }
    #profiles_show .Person-0 .b-catalog_entry:hover > a .image-cutter::after {
        box-shadow: none;
    }
}

@media screen and (max-width: 980px) {
    #profiles_show .Person-0 .b-catalog_entry .cover .title.two_lined {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    #profiles_show .Person-0 .c-column {
        width: calc(100% / 3) !important;
        }
    #profiles_show .Blok-1 {
        white-space: normal;
        overflow-y: inherit;
    }
}

@media screen and (min-width: 1024px) {
    #profiles_show .Person-0 .c-column {
        width: calc(100% / 4) !important;
    }
}

@media screen and (min-width: 1200px) {
    #profiles_show .Person-0 .c-column {
        width: calc(100% / 5) !important;
    }
}

@media screen and (min-width: 1560px) {
        #profiles_show .Person-0 .c-column {
        width: calc(100% / 6) !important;
    }
}
