
@media screen and (min-width: 768px) {
    html:root .p-contests-show {
        --white-color: 226, 255, 224;
        --light-color: 167, 216, 175;
        --dark-color: 159, 187, 158;
        --dull-color: 131, 156, 133;
        --input-color: 81, 97, 81;
        --bright-color: 151, 218, 130;
        --hover-bottoms-1: 51, 86, 58;
        --buttoms-color: 68, 101, 67;
        --hover-buttoms-2: 156, 98, 25;
        --hover-color: 210, 137, 45;
        --block-color: 49, 90, 56;
        --menu-back: 24, 55, 50;
        --menu-back-2: 0, 0, 0;
        --hundred: 1;
        --border-1: 19, 62, 26;
        --border-2: 18, 53, 24;
    }
    body.p-contests-show::after {
        background-image: url("/\x/i9.wampi.ru/2020/04/08/va01.jpg");
        background-color: rgba(var(--menu-back), 0.5);
    }
    .p-contests-show div.block {
        display: none;
    }
    .p-contests-show .b-contests-menu>.block:nth-child(2),
    .p-contests-show .b-contests-menu>.block:nth-child(3),
    .p-contests-show .b-contests-menu>.block:nth-child(5),
    .p-contests-show.x1200 .b-contests-menu>.block:nth-child(6),
    .p-contests-show.x1000 .b-contests-menu>.block:nth-child(6),
    .p-contests-show .match-container.block,
    .p-contests-show .cc-round_stats>.c-column:first-child:nth-child(2n+1),
    .p-contests-show .cc-round_stats>.c-column:last-child>.block:last-child,
    .p-contests-show .cc-round_stats>.c-column:last-child>.subcontent:last-child {
        display: block !important;
    }
    .p-contests-show.x1200 .menu-slide-outer.x199 .l-menu,
    .p-contests-show.x1000 .menu-slide-outer.x199 .l-menu,
    .p-contests-show .match-container.block,
    .p-contests-show .match-day,
    .p-contests-show .cc-round_stats>.c-column:first-child:nth-child(2n+1),
    .p-contests-show .b-topic:first-child,
    .p-contests-show header.head {
        margin: 1.12rem 0 1.12rem 0 !important;
        background-color: rgba(var(--menu-back-2), 0.8);
        box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        border: 0.2rem solid !important;
        border-radius: 1rem;
        border-color: rgba(var(--border-1), 0.6) rgba(var(--border-2), 0.85) rgba(var(--border-1), 0.6) !important;
    }
    .p-contests-show .headline,
    .p-contests-show .midheadline,
    .p-contests-show .subheadline {
        position: relative;
        border: none;
        height: 28px;
        padding: 0 14px 0;
        display: flex;
        line-height: 1.5;
        justify-content: flex-start;
        align-items: center;
        overflow: visible;
        transition: none !important;
        animation: none;
        background: rgba(var(--hover-bottoms-1), 0.6) !important;
    }
    .p-contests-show.x1200 .menu-slide-outer.x199 .l-content,
    .p-contests-show.x1000 .menu-slide-outer.x199 .l-content {
        max-width: none;
        min-width: 100%;
        margin: 0;
        margin-top: calc(100% - 87.85%) !important;
        padding-top: 10.5rem;
        float: left;
    }
    .p-contests-show.x1200 .menu-slide-outer.x199 .l-menu,
    .p-contests-show.x1000 .menu-slide-outer.x199 .l-menu {
        position: absolute;
        display: block;
        top: auto;
        padding: 1rem 1.15rem;
        border-top-left-radius: 0;
        min-width: 100%;
        margin: 0 !important;
    }
    .p-contests-show.x1200 .b-contests-menu,
    .p-contests-show.x1000 .b-contests-menu {
        max-width: 100%;
        width: 100%;
    }
    .p-contests-show .cc-4a.user_rates-minified.d-cutted_covers {
        width: 100%;
        margin: 0 !important;
        overflow-x: auto;
        overflow-y: hidden;
    }

      .p-contests-show .b-contests-menu>.block:nth-child(2),
    .p-contests-show .b-contests-menu>.block:nth-child(3),
    .p-contests-show .b-contests-menu>.block:nth-child(5) {
        width: calc(97% / 3);
        margin: 0 0.5% 2.85rem 0.5%;
        float: right;
    }
    .p-contests-show.x1200 .b-contests-menu>.block:nth-child(6),
    .p-contests-show.x1000 .b-contests-menu>.block:nth-child(6) {
        width: 100%;
        float: none;
        clear: right;
        white-space: nowrap;
        overflow-y: hidden;
        margin: 0 !important;
        z-index: 2;
    }
    .p-contests-show .b-contests-menu .block>::-webkit-scrollbar-thumb {
        background-color: rgba(51, 86, 58, 0.35) !important;
    }

  

       .p-contests-show .b-contests-menu>.block:last-child {
        display: inline-block !important;
        width: 100% !important;
        margin: 0 !important;
        white-space: nowrap;
        overflow-y: hidden;
        z-index: 2;
    }
  
  
  
     .p-contests-show .b-contests-menu>.block:nth-child(2) p,
    .p-contests-show .b-contests-menu>.block:nth-child(3) p,
    .p-contests-show .b-contests-menu>.block:nth-child(5) p {
        background: rgba(var(--hover-bottoms-1), 0.2) !important;
        box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        width: 75%;
        height: 1.5rem;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0.5rem auto 0 auto;
        display: grid;
        overflow: hidden;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
  
      .p-contests-show .b-contests-menu>.block .cc-4a>.c-column,
    .p-contests-show .b-contests-menu>.block .cc-4a>.c-column:nth-child(4n) {
        display: inline-block;
        width: 7.8%;
        margin: 0 0.265% 0 0.265% !important;
        float: none;
        overflow-x: auto;
        min-width: 20px;
    }
  
  
 .p-contests-show .cc-round_stats {
        width: 100%;
        margin-top: 0;
    }
    .p-contests-show .match-container.block {
        position: relative;
        width: 100%;
        padding: 1.65rem 1.15rem 2.5rem;
    }
    .p-contests-show.x1000 .l-page,
    .p-contests-show.x1200 .l-page {
        background: none;
        box-shadow: none !important;
        max-width: 1280px;
        width: calc(100% - 1.875rem) !important;
        padding: 0 !important;
        margin: 0.8rem auto 0 auto !important;
    }
    .p-contests-show .contest.started {
        width: 100% !important;
        position: relative;
    }
    .p-contests-show .contest_round>.subheadline.m30 {
        margin: 1.5rem 0 0 0 !important;
        position: absolute;
        left: 0.5rem;
        z-index: 3;
        width: 7rem;
        height: 0;
        background: none;
        box-shadow: none;
    }
    .p-contests-show .voting-warning {
        position: absolute;
        left: 0;
        top: 0;
        width: calc(100% - 62%);
        right: 0;
        margin: 0 auto;
        border-radius: 0 0 4rem 4rem;
        background: rgba(var(--hover-bottoms-1), 0.2) !important;
        text-align: center;
        overflow: hidden;
        line-height: 1.5;
        padding: 0.2rem 0.86rem 0.500rem 0.86rem;
        box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.25);
    }
  
  
   
    .p-contests-show .voting-warning .red-warning {
        display: none;
    }
    .p-contests-show .contest_round>.b-options-floated a {
        position: relative;
        z-index: 5;
    }
    .p-contests-show header.head {
        position: relative;
        padding: .3rem 1rem;
        border-radius: 1.5rem 1rem 0 0;
        width: 100%;
        margin: 0 !important;
        border-bottom: none !important;
        box-shadow: none;
        text-align: center;
        display: block;
        z-index: 4;
        max-width: -moz-fit-content;
        max-width: -webkit-fit-content;
        max-width: fit-content;
        width: intrinsic;
    }
    .p-contests-show header.head h2,
    .p-contests-show header.head h1 {
        font-size: 24px;
        font-weight: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .p-contests-show .b-breadcrumbs {
        margin: 0;
        line-height: normal;
    }
    .p-contests-show .l-page .menu-slide-outer:not(.ipad-expanded) .menu-slide-inner {
        max-width: 100%;
    }
    
  
  .p-contests-show .b-contest_match .prev-match,
    .p-contests-show .b-contest_match .next-match {
        position: absolute;
        padding: 0;
        display: grid;
        align-items: center;
        justify-content: center;
        bottom: 0;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
        top: 0;
        margin: auto 0;
    }
    .p-contests-show .b-contest_match .prev-match:before,
    .p-contests-show .b-contest_match .next-match:before {
        width: 25px;
        display: flex;
        align-items: center;
        height: 25px;
    }
    .p-contests-show .b-contest_match .next-match {
        right: 0;
        padding-left: .5rem;
        background: linear-gradient(90deg, transparent 0%, rgba(var(--border-1), 0.5) 200%);
    }
    .p-contests-show .b-contest_match .prev-match {
        left: 0;
        padding-right: .5rem;
        background: linear-gradient(-90deg, transparent 0%, rgba(var(--border-1), 0.5) 200%);
    }
    .b-contest_match .current-match .match-members,
    .p-contests-show .b-contest_match .current-match .match-members:last-child {
        margin-left: 10%;
        margin-right: 10%;
    }
    .p-contests-show .b-contest_match .current-match .match-members .match-member,
    .p-contests-show .b-contest_match .current-match .match-members .vs {
        padding: 0;
    }
    .p-contests-show .b-contest_match .match-losers .losers .b-catalog_entry {
        width: 65px;
        height: 65px;
        overflow: visible;
        margin: 0 .2rem 5px !important;
        padding: 5px !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
        border-radius: 6.25rem;
    }
    .p-contests-show .match-losers .losers .b-catalog_entry .cover .image-decor .image-cutter {
        max-width: 6.25rem !important;
        max-height: 6.25rem !important;
        width: 55px;
        height: 55px;
        border-radius: 50%;
    }
  
    .p-contests-show .b-contest_match .match-losers .losers .b-catalog_entry .cover .image-cutter img {
        width: 100%;
        height: auto;
    }
    .p-contests-show .b-contest_match .current-match {
        overflow: visible;
    }
    .p-contests-show .b-contest_match .match-losers .losers:nth-child(2n+1)>.subheadline.m5 {
        position: absolute;
        padding: 0;
        display: block;
        left: 0;
        margin: 0 0 -15.2rem -12.5rem !important;
        bottom: 0;
        width: 300px;
        height: 300px;
        font-size: 0;
        border-radius: 50%;
        background: linear-gradient(-90deg, transparent 0%, rgba(var(--border-1), 0.65) 220%) !important;
        border: 0.2rem solid;
        border-color: rgba(var(--border-1), 0.6) rgba(var(--border-2), 0.85) rgba(var(--border-1), 0.6);
    }
    .p-contests-show .b-contest_match .match-losers .losers:last-child>.subheadline.m5 {
        position: absolute;
        padding: 0;
        display: block;
        right: 0;
        width: 300px;
        height: 300px;
        margin: 0 -12.5rem -15.2rem 0 !important;
        font-size: 0;
        float: right;
        border-radius: 50%;
        bottom: 0;
        background: linear-gradient(90deg, transparent 0%, rgba(var(--border-1), 0.65) 220%) !important;
        border: 0.2rem solid;
        border-color: rgba(var(--border-1), 0.6) rgba(var(--border-2), 0.85) rgba(var(--border-1), 0.6);
    }
    .p-contests-show .b-contest_match .match-losers .losers:last-child>.subheadline.m5::after {
        display: block;
        content: 'Побеждены';
        font-size: 14px;
        transform: rotate(-39.5deg);
        position: relative;
        top: -1rem;
        left: .25rem;
    }
    .p-contests-show .b-contest_match .match-losers .losers:nth-child(2n+1)>.subheadline.m5::after {
        display: block;
        content: 'Побеждены';
        font-size: 14px;
        transform: rotate(39.5deg);
        position: relative;
        top: 6.45rem;
        left: 8.65rem;
    }
    .p-contests-show .b-contest_match .match-losers {
        margin-bottom: initial;
        line-height: normal;
        position: relative;
        padding-top: 0;
        display: inherit !important;
    }
    .p-contests-show .b-contest_match .match-losers .losers {
        position: static;
        max-width: none;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0 3.5925%;
    }
    .p-contests-show .b-contest_match .match-losers .losers:last-child .cc-4a>.c-column {
        float: right;
    }
    .p-contests-show .b-contest_match .match-losers .losers:nth-child(2n+1) .cc-4a>.c-column {
        float: left;
        clear: right;
    }
    .b-contest_match .match-losers .losers:nth-child(2n+1) {
        padding: 0 0.5%;
    }
    .b-contest_match .match-losers .losers:nth-child(2n+1) .b-catalog_entry {
        width: 75px;
        height: 75px;
    }
    .b-contest_match .match-losers .losers:nth-child(2n+1) .b-catalog_entry .cover .image-decor .image-cutter {
        width: 65px;
        height: 65px;
    }
    .p-contests-show .b-contest_match .match-losers .losers .b-catalog_entry:nth-child(1) {
        background-color: rgba(46, 204, 64, 0.1) !important;
    }
    .p-contests-show .b-contest_match .match-losers .losers .b-catalog_entry:nth-child(2) {
        background-color: rgba(132, 46, 204, 0.1) !important;
    }
    .p-contests-show .b-contest_match .match-losers .losers .b-catalog_entry:nth-child(3) {
        background-color: rgba(255, 2, 2, 0.1) !important;
    }
    .p-contests-show .b-contest_match .match-losers .losers .b-catalog_entry:nth-child(4) {
        background-color: rgba(46, 172, 204, 0.1) !important;
    }
    .p-contests-show .b-contest_match .match-losers .losers .b-catalog_entry:nth-child(5) {
        background-color: rgba(221, 82, 2, 0.1) !important;
    }
    .p-contests-show .b-contest_match .match-losers .losers .b-catalog_entry:nth-child(6) {
        background-color: rgba(46, 84, 204, 0.1) !important;
    }
    .p-contests-show .b-contest_match .match-losers .losers .b-catalog_entry:nth-child(7) {
        background-color: rgba(169, 183, 0, 0.1) !important;
    }
    .p-contests-show .b-contest_match .match-losers .losers .b-catalog_entry:nth-child(8) {
        background-color: rgba(201, 113, 186, 0.1) !important;
    }
    .p-contests-show .b-contest_match .match-losers:last-child {
        background: none;
        border-radius: 0;
        padding: 0;
        line-height: 0;
        margin: 0 auto !important;
    }
    .p-contests-show .b-contest_match {
        min-height: 350px;
    }
   .p-contests-show .match-day .match-link .c-column {
        display: flex;
        overflow: visible;
        width: 50%;
        height: 1.4rem;
        margin: auto 0;
        padding: 0 2px;
        align-items: center;
        text-align: center;
    }
    .p-contests-show .match-day .match-link {
        border-radius: 10px;
        background-color: transparent;
        margin: 0 0 .25rem 0.34%;
        float: left;
        width: calc(99.9% / 1);
        height: 1.4rem;
        box-shadow: none;
    }
   
    .p-contests-show .match-day .match-link.active {
        width: calc(99.9% / 1);
    }
    .p-contests-show .p-contests .match-day .match-link .started:before {
        background: none;
    }
    .p-contests .rating .member .position:after {
        content: none;
    }
    .p-contests-show .match-day .match-link .voted::before,
    .p-contests-show .match-day .match-link .winner::before,
    .p-contests-show .match-day .match-link .loser::before,
    .p-contests-show .match-day .match-link .created::before,
    .p-contests-show .match-day .match-link .started::before,
    .p-contests-show .match-day .match-link .finished::before {
        border-radius: 50%;
        display: inline-flex;
        min-width: 1.4rem;
        min-height: 1.4rem;
        width: 1.4rem;
        margin: auto 0.255rem auto 0;
        justify-content: center;
        align-items: center;
        line-height: normal;
    }
  
  
    .p-contests-show .match-day .match-link .winner::before {
        background-color: rgba(1, 33, 5, 0.5);
        box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2);
    }
    .p-contests-show .match-day .match-link .loser::before {
        background-color: rgba(84, 6, 1, 0.3);
        box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2);
    }
    .p-contests-show .match-day .match-link.voted-left .started:last-child:before,
    .p-contests-show .match-day .match-link.voted-right .started:first-child:before {
        background-color: rgba(0, 151, 140, 0.20);
        box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2);
        content: "\\_f08e";
    }
    .p-contests-show .match-day .match-link.voted-left .started:first-child:before,
    .p-contests-show .match-day .match-link.voted-right .started:last-child:before {
        background-color: rgba(79, 155, 231, 0.26);
        box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.15);
    }
    
  .p-contests-show .match-day .matches-num {
        background: rgba(0, 0, 0, 0.28);
        min-width: 2.5rem;
        width: 2.5rem;
        min-height: 1.4rem;
        align-items: center;
        display: inline-flex;
        justify-content: center;
        padding: 0;
        line-height: normal;
        border-radius: 2rem;
        box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2);
    }
    .p-contests-show .match-day .match-link a {
        background: none;
        min-height: 1.4rem;
        width: 100%;
        height: 1.4rem;
        margin: auto .3rem;
        border-radius: 2rem;
        padding-left: .38rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2);
    }
    .p-contests-show .match-day .match-link.active a {
        background: none !important;
    }
    .p-contests-show .match-day {
        margin-top: 0 !important;
        padding: 2rem .8rem 1.25rem .8rem;
    }
    .p-contests-show .rating .member {
        width: calc(97.5% / 2.9835);
        height: 1.4rem;
        float: left;
        display: flex;
        align-items: center;
        background: none;
        margin: 0 0 .25rem 0.5%;
        padding: 0;
        overflow: visible;
        line-height: 1.8;
        text-align: center;
    }
    .p-contests-show .rating .member a {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        background: rgba(16, 113, 115, 0.3);
        border-radius: 2rem;
        padding: 0 .4rem;
        height: 1.4rem;
        transition: background 0s ease;
    }
    .p-contests-show .rating .member a:hover {
        background: rgba(87, 173, 177, 0.2);
    }
    .p-contests-show .rating .member .position {
        background: #16436b7a;
        border-radius: 50%;
        width: 1.4rem;
        height: 1.4rem;
        line-height: normal;
        min-height: 1.4rem;
        min-width: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .p-contests-show .cc-round_stats>.c-column:last-child {
        width: 100%;
    }
    .p-contests-show .cc-round_stats>.c-column:first-child {
        margin: 0;
        width: 100%;
    }
    .p-contests-show .cc-round_stats>.c-column:first-child:last-child:nth-child(1n)>.subheadline.m5,
    .p-contests-show .cc-round_stats>.c-column:last-child:last-child>.subheadline.m5 {
        box-shadow: none;
        width: 12.5rem;
        left: 0.5rem;
        top: 0.35rem !important;
        z-index: 10;
        position: absolute;
        background: none !important;
    }
  
  
    .p-contests-show .match-day>.date {
        position: absolute;
        right: 1rem;
        margin-top: -1.6rem;
    }
    .p-contests-show .cc-round_stats>.c-column:first-child:last-child:nth-child(1n) {
        background: none !important;
        border: none !important;
        box-shadow: none !important;
        padding: 0 !important;
        margin: 0 !important;
        overflow: visible;
    }
    .p-contests-show .cc-round_stats>.c-column:first-child:last-child:nth-child(1n)>.b-options-floated {
        position: absolute;
        left: -1.2rem;
        width: 15rem;
        z-index: 10;
        height: 0;
        margin-top: 1.2rem;
    }
    .p-contests-show .cc-round_stats>.c-column:first-child:nth-child(2n+1)>.subheadline.m5 {
        background: none !important;
        box-shadow: none !important;
        width: 7rem;
        position: absolute;
        top: .15rem;
        left: 0.5rem;
    }
    .p-contests-show .cc-round_stats>.c-column:first-child:nth-child(2n+1) {
        padding: 1.8rem .8rem 1.25rem .8rem;
        margin-top: 0 !important;
    }
    .p-contests-show .cc-round_stats>.c-column:last-child:last-child {
        margin-bottom: 0 !important;
    }
    .p-contests-show .rating .member .progress.negative {
        border-radius: 50%;
        width: 1.4rem;
        height: 1.4rem;
        line-height: normal;
        min-height: 1.4rem;
        min-width: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background: rgba(235, 145, 218, 0.11);
        margin: 0 1.5%;
    }
    .p-contests-show .rating .member .progress.positive {
        border-radius: 50%;
        width: 1.4rem;
        height: 1.4rem;
        line-height: normal;
        min-height: 1.4rem;
        min-width: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background: rgba(36, 143, 211, 0.27);
        margin: 0 1.5%;
    }
    .p-contests-show .b-contest_match .match-losers {
        width: calc(100% - 0rem);
        margin: 0 auto;
    }
    .p-contests-show .b-contest_match .votes-percents .left-part {
        width: calc(100% - 25rem);
        margin: 0 auto;
        border-radius: 2rem;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
        background: linear-gradient(-125deg, rgba(2, 69, 115, 0.49) 45%, rgba(113, 12, 58, 0.7) 45.3%);
        background: -webkit-linear-gradient(-145deg, rgba(2, 69, 115, 0.49) 45%, rgba(113, 12, 58, 0.7) 45.3%);
    }
    .p-contests-show .b-contest_match .votes-percents .left-part:hover {
        background: linear-gradient(-125deg, rgba(88, 46, 204, 0.4) 45.3%) 45%, rgba(255, 2, 227, 0.35) 45.3%);
        background: -webkit-linear-gradient(-145deg, rgba(88, 46, 204, 0.4) 45%, rgba(255, 2, 227, 0.35) 45.3%);
    }
    .p-contests-show .b-contest_match .votes-percents .right-part,
    .p-contests-show .b-contest_match .votes-percents .left-part:hover .right-part {
        background: none;
    }
    .p-contests-show .b-contest_match .votes-percents .right-part::before {
        display: none;
    }
    .p-contests-show .b-contest_match .votes-percents {
        margin-bottom: -1.5rem;
        position: relative;
        top: 0.35rem;
    }
    .p-contests-show .b-topic:first-child {
        margin: 0 0 !important;
        padding: 2rem 1.25rem 2rem 1.25rem;
    }
    .p-contests-show .l-footer {
        margin: 0px 1rem;
        bottom: 2rem;
        padding: 0;
    }
    .p-contests-show .contest_round>.b-options-floated {
        position: absolute;
        margin-top: 1.5rem;
        width: 12rem;
        height: 0;
        padding: 0 8px 0 8px;
    }
    .p-contests-show .cc-round_stats>.c-column:last-child:last-child>.b-options-floated {
        position: absolute;
        left: 2rem;
        width: 15rem;
        z-index: 10;
        height: 0;
        margin-top: 1.2rem;
    }
    .p-contests-show .subheadline.m0 {
        position: absolute;
        width: 14rem;
        margin-top: 1.25rem;
        z-index: 3;
        left: .5rem;
        height: 0;
        background: none;
        box-shadow: none;
    }
    .p-contests-show .subheadline>a:before {
        display: none;
    }
    .p-contests-show .subheadline>a:hover {
        background: none;
        border: none;
    }
    body.p-contests-show::before,
    .p-contests-show .l-page .menu-toggler .toggler {
        display: none;
    }
    .p-contests-show .b-contest_match .vs .invitation,
    .p-contests-show .b-contest_match .vs .vote-voted,
    .p-contests-show .b-contest_match .vs .vote-abstained,
    .p-contests-show .b-contest_match .vs .thanks,
    .p-contests-show .b-contest_match .vs .hint,
    .p-contests-show .b-contest_match .vs .action,
    .p-contests-show .b-contest_match .vs .not-selected {
        padding: 0;
    }
    .p-contests-show .match-day .match-link.voted-left>.c-column:last-child a,
    .p-contests-show .match-day .match-link.voted-right>.c-column:first-child a {
        background-color: rgba(255, 2, 2, 0.11) !important;
    }
    .p-contests-show .match-day .match-link.voted-left>.c-column:first-child a,
    .p-contests-show .match-day .match-link.voted-right>.c-column:last-child a {
        background-color: rgba(16, 47, 22, 0.5) !important;
    }
    .p-contests-show .match-day .match-link .started a {
        background-color: rgba(173, 98, 204, 0.18);
    }
    .p-contests-show .match-day .match-link .winner a {
        background-color: rgba(16, 47, 22, 0.5);
    }
    .p-contests-show .match-day .match-link .loser a {
        background-color: rgba(255, 2, 2, 0.11);
    }
  
  
    /*----------------------------------------*/
    .p-contests-show .contest.finished>.results {
        box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
        padding: 1rem 1.15rem;
        margin: 1.25rem 0;
        background-color: rgba(var(--menu-back-2), 0.8);
        border: 0.2rem solid !important;
        border-radius: 1.5rem;
        overflow: hidden;
        border-color: rgba(var(--border-1), 0.6) rgba(var(--border-2), 0.85) rgba(var(--border-1), 0.6) !important;
    }
    .p-contests-show .block.grid {
        display: flex;
        position: absolute;
        margin: 0 !important;
        height: 0;
        top: -.05rem;
        width: auto;
        right: 2rem;
        font-size: 13px;
    }
    .p-contests-show .b-contests-menu .block>.results {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: flex-end;
        width: calc(100% + 208%) !important;
        margin: 0 !important;
        height: 0;
        left: 0;
        right: 0;
        top: -0.4rem;
        font-size: 13px;
        z-index: 9;
    }
    .p-contests-show .block.grid>.subheadline.m5,
    .p-contests-show .block .b-prgrph {
        display: none;
    }
    .p-contests-show .block {
        margin-bottom: 0;
    }
    .p-contests-show .results>.cc-result .c-rounds .match-link,
    .p-contests-show .results>.cc-result .c-rounds .match-link:hover,
    .p-contests-show .results>.cc-result .c-rounds .match-link:active {
        background: none !important;
        box-shadow: none !important;
    }
    .p-contests-show .c-rounds>.match-day {
        background: none;
        box-shadow: none;
        padding: 0.35rem 0 0 0;
        border: none !important;
    }
    .p-contests-show .c-rounds>.match-day .match-link {
        float: none;
    }
    /*---( УБРАТЬ РЕКЛАМУ !!! А ТО ЛОМАЕТ БЛОК )---*/
    .p-contests-show .spns_yd_240x600,
    .p-contests-show .b-spns-yd_240x400,
    .p-contests-show .b-spns-yd_240x500,
    .p-contests-show .b-spns-yd_240x600,
    .p-contests-show .b-spns-yd_300x600,
    .p-contests-show .b-spns-yd_970x250,
    .p-contests-show .b-spns-mt_300x250,
    .p-contests-show .b-spns-mt_240x400,
    .p-contests-show .b-spns-mt_300x600,
    .p-contests-show .b-spns-mt_970x250,
    .p-contests-show .b-spns-advrtr_240x400,
    .p-contests-show .b-spns-advrtr_300x250 {
        display: none !important;
        position: absolute;
        visibility: hidden;
        font-size: 0;
        margin: 0;
        /*----------------------------------------*/
    }
}

@media screen and (max-width: 998px) {
    .p-contests-show p.voting-warning {
        display: none;
    }
}
