    @font-face {
        /*Основной Шрифт*/
        font-family: "Comfortaa";
        font-style: normal;
        font-weight: 400;
        src: local("Comfortaa Regular"), local("Comfortaa-Regular"), url(https://fonts.gstatic.com/s/comfortaa/v10/Be0CkOtwwI2n86HMhtablRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
        unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
    }
    @font-face {
        font-family: "Comfortaa";
        font-style: normal;
        font-weight: 400;
        src: local("Comfortaa Regular"), local("Comfortaa-Regular"), url(https://fonts.gstatic.com/s/comfortaa/v10/-DackuIFgo7Hfy3rR14C3xJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    @font-face {
        font-family: "Comfortaa";
        font-style: normal;
        font-weight: 400;
        src: local("Comfortaa Regular"), local("Comfortaa-Regular"), url(https://fonts.gstatic.com/s/comfortaa/v10/UgYUhLCkRUocJ8OZnvelZxJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
        unicode-range: U+0370-03FF;
    }
    @font-face {
        font-family: "Comfortaa";
        font-style: normal;
        font-weight: 400;
        src: local("Comfortaa Regular"), local("Comfortaa-Regular"), url(https://fonts.gstatic.com/s/comfortaa/v10/Ao3NCHUpHgdVgp2UtibJoRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
        unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
    }
    @font-face {
        font-family: "Comfortaa";
        font-style: normal;
        font-weight: 400;
        src: local("Comfortaa Regular"), local("Comfortaa-Regular"), url(https://fonts.gstatic.com/s/comfortaa/v10/wz1gqe57Mbg11v-OrLlVjhJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
        unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    }
    @font-face {
        font-family: "Comfortaa";
        font-style: normal;
        font-weight: 400;
        src: local("Comfortaa Regular"), local("Comfortaa-Regular"), url(https://fonts.gstatic.com/s/comfortaa/v10/qLBu5CQmSMt1H43OiWJ77VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    }
    @font-face {
        font-family: "Comfortaa";
        font-style: normal;
        font-weight: 700;
        src: local("Comfortaa Bold"), local("Comfortaa-Bold"), url(https://fonts.gstatic.com/s/comfortaa/v10/fND5XPYKrF2tQDwwfWZJI6-j2U0lmluP9RWlSytm3ho.woff2) format("woff2");
        unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
    }
    @font-face {
        font-family: "Comfortaa";
        font-style: normal;
        font-weight: 700;
        src: local("Comfortaa Bold"), local("Comfortaa-Bold"), url(https://fonts.gstatic.com/s/comfortaa/v10/fND5XPYKrF2tQDwwfWZJI5X5f-9o1vgP2EXwfjgl7AY.woff2) format("woff2");
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    @font-face {
        font-family: "Comfortaa";
        font-style: normal;
        font-weight: 700;
        src: local("Comfortaa Bold"), local("Comfortaa-Bold"), url(https://fonts.gstatic.com/s/comfortaa/v10/fND5XPYKrF2tQDwwfWZJI6aRobkAwv3vxw3jMhVENGA.woff2) format("woff2");
        unicode-range: U+0370-03FF;
    }
    @font-face {
        font-family: "Comfortaa";
        font-style: normal;
        font-weight: 700;
        src: local("Comfortaa Bold"), local("Comfortaa-Bold"), url(https://fonts.gstatic.com/s/comfortaa/v10/fND5XPYKrF2tQDwwfWZJI_8zf_FOSsgRmwsS7Aa9k2w.woff2) format("woff2");
        unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
    }
    @font-face {
        font-family: "Comfortaa";
        font-style: normal;
        font-weight: 700;
        src: local("Comfortaa Bold"), local("Comfortaa-Bold"), url(https://fonts.gstatic.com/s/comfortaa/v10/fND5XPYKrF2tQDwwfWZJIz0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
        unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    }
    @font-face {
        font-family: "Comfortaa";
        font-style: normal;
        font-weight: 700;
        src: local("Comfortaa Bold"), local("Comfortaa-Bold"), url(https://fonts.gstatic.com/s/comfortaa/v10/fND5XPYKrF2tQDwwfWZJI-gdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    }

    body#profiles_show,
    #profiles_show input,
    #profiles_show select,
    #profiles_show textarea {
        /*Подключения основного шрифта) на данный момент работает только в профиле !*/
        font-family: "Comfortaa", sans-serif !important;
        font-size: 13px;
        color: #ddd;
    }