@media screen and (min-width: 768px) {
    
        #profiles_show .profile-head .c-lists-info > .b-stats_bar.anime::before,
    #profiles_show .profile-content .cc-2.block .c-column.c-right .block::before,
    #profiles_show .profile-head .c-lists-info > .b-stats_bar.manga::before,
    #profiles_show .profile-head .c-info .c-additionals:before,
    #profiles_show .lifetime.b-stats_bar::before,
    #profiles_show .profile-content .activity::before,
    #profiles_show.x1200 .profile-content .c-right .cc-2a > .c-column:nth-child(1)::before,
    #profiles_show.x1000 .profile-content .c-right .cc-2a > .c-column:nth-child(1)::before,
    #profiles_show.x1200 .profile-content .c-right .cc-2a > .c-column:nth-child(2)::before,
    #profiles_show.x1000 .profile-content .c-right .cc-2a > .c-column:nth-child(2)::before,
    #profiles_show .achievements::before {
        /*Затемнения сетка-разом регулирует все*/
        content: "";
        filter: blur(0.6px);
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: url("/\x/i.ibb.co/x8b1KTK/2x2.png");
        opacity: 0.5;
        z-index: -1;
    }
        #profiles_show .b-topic:first-child::before {
        /*Сетка над блоком Обо мне*/
        content: "";
        display: block;
        position: fixed;
        background: url("/\x/i.ibb.co/x8b1KTK/2x2.png");
        opacity: 0.4;
        filter: blur(0.6px);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}
